mixin quiz-result()
	-
		const data = {
			cards: [
				{
					title: "SIRIUS",
					imgLink: {
						href: "/katalog/korm-dlya-koshek/losos-i-ris/",
						src: "./img/content/Cat_salmon_ 1.png",
						alt: "Фото упаковки корма Сириус с лососем для кошек",
					},
					text: "Сухой корм для взрослых кошек «Лосось и рис»",
					weight: "10 кг, 1.5 кг, 0.4 кг",
					btn: {
						href: "/katalog/korm-dlya-koshek/losos-i-ris/",
						text: "Подробнее",
					},
				},
				{
					title: "SIRIUS",
					imgLink: {
						href: "/katalog/korm-dlya-koshek/myasnoy-ratsion/",
						src: "./img/content/Cat_meat_ 1.png",
						alt: "Фото упаковки корма Сириус «Мясной рацион» для кошек",
					},
					text: "Сухой корм для взрослых кошек «Мясной рацион»",
					weight: "10 кг, 1.5 кг, 0.4 кг",
					btn: {
						href: "/katalog/korm-dlya-koshek/myasnoy-ratsion/",
						text: "Подробнее",
					},
				},
			],
		}
	.quiz__form.quiz__result.is-next
		each item in data.cards
			.feed-dog-catalog-body
				a.feed-dog-catalog-body__img(href=item.imgLink.href)
					img(src=item.imgLink.src alt=item.imgLink.alt)
				.feed-dog-catalog-body__title
					h2=item.title
				.feed-dog-catalog-body__text
					p=item.text
				.feed-dog-catalog-body__weight
					p=item.weight
				.feed-dog-catalog-body__link
					a(href=item.btn.href)=item.btn.text
