mixin quiz-form-01()
	-
		const data = {
						form: {
				title1: "Укажите пол питомца",
				check1: {
					inputLabel: "Самец",
					inputType: "radio",
					inputChecked: false,
					inputId: "male",
					inputValue: "male",
					inputName: "gender",
				},
				check2: {
					inputLabel: "Самка",
					inputType: "radio",
					inputChecked: true,
					inputId: "female",
					inputValue: "female",
					inputName: "gender",
				},
				title2: "Укажите возраст",
				warning: "Не может быть отрицательным",
				input: {
					inputPlaceholder: "0",
					inputError: "Укажите возраст",
					inputId: "pet-age",
					inputName: "age",
					inputMaxLength: 2,
				},
				select: {
					placeholder: "Выберите",
					error: "Выберите возраст",
					optionsList: [
						{
							value: "months",
							text: "Месяц (а/ев)",
						},
						{
							value: "years",
							text: "Год (а) / Лет",
						},
					],
				},
				disclaimer: "Щенком /котенком называют животных в возрасте от 0 до 12 месяцев. После года животное считается взрослым.",
				submit: {
					text: "Далее",
				}
			}
		}
	.quiz__form.quiz__form--01(data-validate data-callback="quizForm")
		form.quiz__form-form(action="#")
			h2.quiz__form-title=data.form.title1
			.quiz__form-row.quiz__form-toggles
				.quiz__form-toggles-item
					+custom-toggle(data.form.check1).custom-toggle--radio.quiz__form-check.quiz__form-check--male
				.quiz__form-toggles-item
					+custom-toggle(data.form.check2).custom-toggle--radio.quiz__form-check.quiz__form-check--female
			h2.quiz__form-title=data.form.title2
			.quiz__form-row
				.quiz__form-row-col
					span.quiz__form-warning=data.form.warning
					button.quiz__form-btn.quiz__form-btn--minus.btn(type="button") -
					+custom-input(data.form.input)(data-validate-type="text").quiz__form-input
					button.quiz__form-btn.quiz__form-btn--plus.btn(type="button") +
				.quiz__form-row-col
					+custom-select(data.form.select)(data-select data-validate-type="select")
			.quiz__form-disclaimer
				span.quiz__form-disclaimer-icon
					+icon("icon-warning", 25, 25)
				span.quiz__form-disclaimer-text=data.form.disclaimer
			button.quiz__form-submit.btn(type="submit")=data.form.submit.text